{% set page_title = "About Us" %}
{%extends 'Layout.html'%}

{%block content%}
    <div class="aboutUs">
        <h1>BAMBOO GARDEN</h1>
        <p>Bamboo Garden delivers an authentic Asian cuisine in a country that is highly inspired by Europe and America</p>
        <p>Our founder Kim Wei founded this restaurant back in 2015 as a sign of gratitude to the people of Marsaskala who welcomed her family when they emigrated to Malta in 2003.</p>
        <p>Bamboo Garden was given the Malta Food Award of 2018 and has received high praise from the general public for providing an authentic Asian experience from warm lightning to the use of ceramic bowls accompanied by handmade wooden furniture</p>
        <p>Our staff ranging from our graduated culinary chefs and managers to the waiters and reception help aim to provide you with the best experience possible to make sure that you leave our restaurant with a fulfilling experience.</p>
    </div>
{%endblock%}
