{% set page_title = "About Us" %}
{%extends 'Layout.html'%}

{%block content%}
    <div class="aboutUs">
        <h1>BAMBOO GARDEN CHEFS</h1>
        <p>our</p>
        <p>Meet our talented Head Chef, James, the culinary mastermind behind our extraordinary Asian cuisine. </p>
        <p>With Jamess extensive experience and passion for Asian flavors, our restaurant brings you an unparalleled dining experience.</p>
        <p>Introducing our talented Assistant Chef, Justin. With a deep passion for Asian cuisine and a dedication to culinary excellence.</p>
        <p>Justin plays a crucial role in our kitchen, assisting our Head Chef in delivering exceptional dining experiences.</p> 
        <div class="contactBox">
            <h2>Find them on Instagram:</h2>
            <p>Head Chef : BambooChef_James</p>
            <p>Assistant Chef : BambooAssistant_Justin</p>
        </div>
    </div>
{%endblock%}
