{% set page_title = "Home" %}
{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <div class="textBox">
        <h2>Welcome to <br><span>Bamboo Garden</span></h2>
        <p>Enjoy our traditional Asian Cousines</p>
        <a href="reservation.php">Reserve A Table</a>
    </div>
    <ul class="Choice">
        <li><a href="MenuChi.php">Chinese</a></li>
        <li><a href="MenuJap.php">Japanese</a></li>
        <li><a href="MenuInd.php">Indian</a></li>
    </ul>
</div>
{% endblock %}
