{% set page_title = "Home" %}
{% extends 'layout.html' %}

{% block content %}
<img src="../images/Bamboo.png" class="logo">
<div class="content">
    <div class="textBox">
        <h2>Welcome to <br><span>Bamboo Garden</span></h2>
        <p>Enjoy our traditional Asian Cousines</p>
        <a href="#">Reserve A Table</a>
    </div>
    <ul class="Choice">
        <li><a href="#">Chinese</a></li>
        <li><a href="#">Japanese</a></li>
        <li><a href="#">Indian</a></li>
    </ul>
</div>
{% endblock %}
