{% set page_title = "Chinise Menu" %}
{%extends 'Layout.html'%}

{%block content%}
<div class="main">
    <div class="section-title">
        <h4>Chinise Menu</h4>
        <p>Explore our delightful Chinese menu</p>
    </div>
    <div class="menus">
        <div class="menu-column">
            <h4>Starter</h4>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Vegetable Spring Rolls <span>6.00</span></h5>
                    <p>A vegetable spring roll is made up of rice flour filled with silvers of sliced fresh vegetables wrapped in a paper thin wrapper made up of flour and water. </p>
                    <button class="add-to-favorites" data-food="Vegetable Spring Rolls" data-price="6.00">Add to Favorites</button>
                </div>
            </div>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Satay Chicken <span>6.00</span></h5>
                    <p>Satay chicken is skewed and grilled meat that is marinated.</p>
                    <button class="add-to-favorites" data-food="Satay Chicken" data-price="6.00">Add to Favorites</button>
                </div>
            </div>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Steamed Beef Dumplings <span>7.00</span></h5>
                    <p>These beef rice balls are usually filled with a sweet red bean and seasame paste mixed with peanut butter</p>
                    <button class="add-to-favorites" data-food="Steamed Beef Dumplings" data-price="7.00">Add to Favorites</button>
                </div>
            </div>
        </div>
        <div class="menu-column">
            <h4>Main</h4>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Wonton/ Hot and Sour Soup<span>10.00</span></h5>
                    <p>A wonton soup is made up of seasoned chicken broth with filled beef wontons. On the other hand, a hot and sour soup is made by white pepper and special Zhenjiany vinegar that gives it that spicy taste. </p>
                    <button class="add-to-favorites" data-food="Wonton/ Hot and Sour Soup" data-price="10.00">Add to Favorites</button>
                </div>
            </div>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Sweet and sour meatballs <span>11.00</span></h5>
                    <p>These meatballs are generally made up from ground pork and beef seasoned with garlic, soy sauce and ginger which give it a glossy texture.</p>
                    <button class="add-to-favorites" data-food="Sweet and sour meatballs" data-price="11.00">Add to Favorites</button>
                </div>
            </div>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Duck with lemon sauce <span>12.00</span></h5>
                    <p>This is a combination of duck with the refreshing flavour of lemon made up from various ingridents from vegetable broth to salt and pepper to give it an extra taste.</p>
                    <button class="add-to-favorites" data-food="Duck with lemon sauce" data-price="12.00">Add to Favorites</button>
                </div>
            </div>
        </div>
        <div class="menu-column">
            <h4>Drinks</h4>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Tieguangying <span>2.00</span></h5>
                    <p>This is a black and green tea which has a faint yellow colour giving a fresh and floral smell.</p>
                    <button class="add-to-favorites" data-food="Tieguangying" data-price="2.00">Add to Favorites</button>
                </div>
            </div>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Jiuniang <span>2.50</span></h5>
                    <p>Mixed with a small pint of alcahol, Jiuniang has a mux of sweet rice wine and a soup like consistency that together gives a sweet honey flavour. </p>
                    <button class="add-to-favorites" data-food="Jiuniang" data-price="2.50">Add to Favorites</button>
                </div>
            </div>
            <div class="single-menu">
                <img src="images/Sushi.jpg" alt="">
                <div class="menu-content">
                    <h5>Tsingtao Beer <span>3.00</span></h5>
                    <p>A classic popular germany-style Chinese icon made from pure spring water form the mountain of Laoshan with foreigh yeast and barley to give it a more strong malt flavour.</p>
                    <button class="add-to-favorites" data-food="Tsingtao Beer" data-price="3.00">Add to Favorites</button>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
