@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: #fff;
    transform: translateX(-50%);
    left: 50%;
    z-index: 999;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    max-width: 100px;
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 30px;
}

button:hover{
    background-color: rgba(0,136,169,0.8);;
}

header.logo{
    position: relative;
    top: 0;
    left: 0;
    max-width: 0px;
}

header ul
{
    position: relative;
    display: flex;
    justify-content: center;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

header ul li a:hover{
    transform: translateY(-15px);
}


.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin-top: 80px;
}

.content.textBox{
    position: relative;
    max-width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.content .textBox h2{
    color: white;
    font-size: 6em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: white;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p{
    color: whitesmoke
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: black;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.content .textBox a:hover{
    transform: translateY(-15px);
}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img{
    max-width: 500px;
}

.Choice{
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    display: flex;
}

.Choice li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.Choice li a{
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}


.Choice li:hover{
    transform: translateY(-15px);
}

.Choice li a:hover {
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

.Choice li img{
    max-width: 60px;
}
.circle1{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gold;
    clip-path: circle(600px at right 800px);
    z-index: -100;
}

.circle2{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at top left);
    z-index: -100;
}


footer {
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: -200px;
    width: 100%;
    margin: 0 auto;
    left: 0;
 }

.aboutUs {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 100px;
}
  
.aboutUs h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #0077b6;
}
  
.aboutUs p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
  } 

  
.reservation {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
}

.reservation h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #0088a9;
}

.reservation form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.reservation label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
}

.reservation input[type="text"],
.reservation input[type="email"],
.reservation input[type="date"],
.reservation input[type="time"],
.reservation input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.reservation button[type="submit"] {
    padding: 12px 24px;
    background-color: #0088a9;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation button[type="submit"]:hover {
    background-color: #005c70;
}
